<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Tell us about yourself</h2>
        <%= simple_form_for @visit,
                            remote: true,
                            id: 'question-form' do |f| %>
          <div class='row'>
            <div class='col-6'>
              <%= f.input :birthday_month, label: 'You were born (month)' %>
            </div>
            <div class='col-6'>
              <%= f.input :birthday_year, label: 'You were born (year)' %>
            </div>
          </div>
          <%= f.input :nationality %>
          <%= f.input :gender, as: :radio_buttons, collection: ["Male", "Female","Other"], label: false %>
          <div class='row'>
            <div class='col-6'>
              <%= f.input :mother_origin %>
            </div>
            <div class='col-6'>
              <%= f.input :father_origin %>
            </div>
          </div>
          <%= f.input :hearing_impaired, as: :radio_buttons, collection: ["Yes", "No"] %>
          <%= f.hidden_field :uuid %>
          <%= f.submit %>
        <% end %>

        <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
