<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Tell us about yourself</h2>
        <%= simple_form_for @visit,
                            remote: true,
                            id: 'question-form' do |f| %>
          <%= f.input :birthday_month %>
          <%= f.input :birthday_year %>
          <%= f.input :nationality %>
          <%= f.input :gender, as: :radio_buttons, collection: ["Male", "Female"] %>
          <%= f.input :parent_origin %>
          <%= f.hidden_field :uuid %>
          <%= f.submit %>
        <% end %>

        <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
