<%= render partial: 'visits/landing' %>

<section class="download bg-primary text-center" id="download">
  <div class="container" id='single-page'>
    <h2 class="section-heading text-center"><i class="fa fa-camera-retro"></i>&nbsp;Step 1: Upload your selfie</h2>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= simple_form_for @visit,  url: photo_visits_path, method: :post do |i| %>
          <%= i.label :photo_file do %>
            <%= image_tag 'avatar-default.png', class: 'img-fluid' %>
          <% end %>
          <span style="display:none;">
            <%= i.file_field :photo_file, html: { hidden: true } %>
          </span>

          <%= i.hidden_field :uuid %>
          <br/>
          <%= i.submit 'Upload Selfie', class: 'btn btn-outline btn-xl' %>
        <% end %>
      </div>
      <div class='col-3'>
        <ul class='list-group'>
          <li class='list-group-item lead text-muted'>headshot</li>
          <li class='list-group-item lead text-muted'>no glasses</li>
          <li class='list-group-item lead text-muted'>no head covering</li>
          <li class='list-group-item lead text-muted'>no gadgets</li>
          <li class='list-group-item lead text-muted'>good lighting</li>
          <li class='list-group-item lead text-muted'>square aspect</li>
        </ul>
      </div>
    </div>
  </div>
</section>






<%#= render partial: 'visits/picture' %>

<%#= render partial: 'visits/questions' %>

<%#= render partial: 'visits/sound' %>

 <section class="contact bg-primary" id="contact">
   <div class="container">
     <ul class="list-inline list-social">
       <li class="list-inline-item social-twitter">
         <a href="#">
           <i class="fa fa-twitter"></i>
         </a>
       </li>
       <li class="list-inline-item social-facebook">
         <a href="#">
           <i class="fa fa-facebook"></i>
         </a>
       </li>
       <li class="list-inline-item social-google-plus">
         <a href="#">
           <i class="fa fa-google-plus"></i>
         </a>
       </li>
     </ul>
   </div>
 </section>
