<%= render partial: 'visits/landing' %>

<section class="download bg-primary text-center" id="anchor">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Tell us about yourself</h2>
        <%= simple_form_for @visit,
                            url: visit_questions_update_path,
                            method: :post,
                            id: 'question-form' do |f| %>
          <div class='row'>
            <div class='col-3'></div>
            <div class='col-6'>
              <%= f.input :age, label: 'Your age' %>
            </div>
            <div class='col-3'></div>
          </div>
          <div class='row'>
            <div class='col-3'></div>
            <div class='col-6'>
              <label>Nationality</label>
              <%= f.country_select :nationality, label: 'Nationality' %>
            </div>
            <div class='col-3'></div>
          </div>
          <%= f.input :gender, as: :radio_buttons, collection: ["Male", "Female","Other"], label: false %>
          <div class='row'>
            <div class='col-6'>
              <label>Mother's origin</label>
              <%= f.country_select :mother_origin, { :class => "form-control" } %>
            </div>
            <div class='col-6'>
              <label>Father's origin</label>
              <%= f.country_select :father_origin, { :class => "form-control" } %>
            </div>
          </div>
          <%= f.input :hearing_impaired, as: :radio_buttons, collection: ["Yes", "No"] %>
          <%= f.hidden_field :uuid %>
          <%= f.submit 'Go', class: 'btn btn-outline btn-xl' %>
        <% end %>

        <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
